* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

h1 {
  padding: 30px 50px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  background-color: #161a2b;
}

h2 {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #fff;
}

h3 {
  color: #fff;
  margin-top: 30px;
}
