.formContainer {
  margin: 20px auto;
  width: 500px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
}

.formContent {
  border-radius: 10px;
  position: relative;
  background: #161a2b;
  background-repeat: no-repeat;
}

.form {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  text-align: center;
}
.formInputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.formInputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.formLabel {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  margin-top: 5px;
  color: #fff;
}

.formInput {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  border: none;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.formInput::placeholder {
  color: #595959;
  font-size: 12px;
}

.formInputButton {
  width: 40%;
  height: 50px;
  margin-top: 10px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.1rem;
}

.formInputButton:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}
